.wplp_templates .wplp_template {
	width: 33%;
	float: left;
}

.clearfix {
	clear: both;
}

.wplp_templates .screenshot {
	width: 80%;
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
}

.more_templates {
	text-align: center;
	font-size: 2em;
	margin: 1em;
}

.colorpick {
	display: inline-block;
	width: 228px;
	float: left;
	text-align: center;
}


.wplp_statistics .percent {
	text-align: center;
	font-size: 4em;
	line-height: 1em;
	margin-bottom: 10px;
}

.wplp_statistics .visits {
	display: inline-block;
	width: 50%;
	float: left;
	text-align: center;
	font-size: 2em;
	color: green;
}

.wplp_statistics .conversions {
	display: inline-block;
	width: 50%;
	float: left;
	text-align: center;
	font-size: 2em;
	color: #AB0000;
}

#post-body #normal-sortables {
	min-height: 0;
}

#wplp_explain {
	background: #FFF8E1;
}

#wplp_explain .handlediv:before {
	color: #FFA000;
}

#wplp_explain .hndle.ui-sortable-handle {
	color: #333;
	background: #FFECB3;
}