// 	Load foundation
@import 'start';

//	Layout
* {
	box-sizing: border-box;
}

body {
	.landing-page {
		font-family: 'Lato', sans-serif;
		font-weight: normal;
		line-height: 1.3em;
	}
}

// Header
header {
	padding: 0;
	min-height: 85px;
	line-height: 85px;
	.menu {
		padding: 0;
		margin: 0;
		text-align: right;
		li {
			display: inline-block;
			a {
				padding: 10px 10px;
				text-decoration: none;
				font-weight: lighter;
				font-size: 13px;
				&:hover {
					background: rgba(0,0,0,0.1);
					border-radius: 4px;
				}
			}
		}
	}
}

.header-content {
	padding: 20px 0;
	h1 {
		margin: 25px 0;
		font-size: 34px;
		font-weight: lighter;
	}
	p {
		font-size: 16px;
	}
	.btn-cta, input[type=submit], button[type=submit] {
		display: inline-block;
		font-size: 20px;
		padding: 10px 20%;
		text-align: center;
		margin-top: 30px;
		border-radius: 4px;
		text-decoration: none;
		font-weight: 500;
		transition: all 0.25s ease-in-out;
		box-shadow: none;
		&:hover {
			box-shadow: 0 5px 5px rgba(0,0,0,0.15);
		}
	}
	.wpcf7 {
		input[type=text], input[type=email], input[type=number], textarea  {
			background: rgba(255, 255, 255, 0.7);
			border: none;
			box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
			padding: 8px 5px;
			font-size: 14px;
			font-family: 'Lato', sans-serif !important;
			border-radius: 3px;
			transition: all 0.25s ease;
			&:focus {
				background: rgba(255, 255, 255, 0.9);
				box-shadow: 0 0 6px rgba(0,0,0,0.15);
			}
		}
		p {
			margin: 0 0 10px 0;
		}
	}
}

.presentation {
	padding: 25px 0;
	font-size: 16px;
}

.benefits, .testimonial {
	padding: 25px 0;
	font-size: 16px;
}

.testimonial {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		border-top-width: 1px;
		border-top-style: solid;
		left: 50%;
		width: 50%;
		margin-left: -25%;
		border-color: rgba(0,0,0,0.1);
	}
}

.footer {
	padding: 15px 0;
	font-size: 12px;
}
